{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
      <h1>mLao peque</h1>
      <p>Lorem ipsum caraculum</p>
  </div>
  <div class="col-4">
    <img src="assets/img/mlao.jpg" alt="" class="img-thumbnail">
  </div>
</div>

{{> footer }}
